.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: rgb(24, 23, 23);
    color: white;
    justify-content: space-around;
    overflow: hidden;
}

.navbar .search{
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 500px;
}

.navbar .search .icon{
    display: flex;
    align-self: center;
    margin-top: 37px;
    margin-left: 50px;
}
.navbar .search input{
    height: 35px;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: transparent;
    justify-content: center;
    font-size: medium;
    color: white;
    margin-left: 10px;
}

.navbar p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;
    font-size: large;
}

.navbar p:hover{
    cursor: pointer;
    color: white;
}

.navbar .logo-txt{
    display: flex;
    flex-direction: row;
}

.navbar img{
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 10px;
}

.navbar h1{
    font-size: larger;
    font-family: #8a939b;
    align-self: center;
}

.navbar .profile{
    height: 30px;
    width: 30px;
    align-self: center;
}

.navbar .wallet{
    height: 30px;
    width: 30px;
    align-self: center;
}

.navbar .profile:hover{
    cursor: pointer;
}

.navbar .wallet:hover{
    cursor: pointer;
}